* {
    padding:0;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
::-webkit-scrollbar {
    width:8px;
    
    background-color: rgba(27, 27, 27, 1);
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    height: 0.5em;
    background-color: rgb(94,94,95);
}
nav {
    position: fixed;
    width: 100%;
    height: 53px;
    background: rgb(250,250,250);
    border-bottom: 2px solid #DBDBDB; 
}
.logo {
    font-size: 2.5em;
    padding-left: 0.25em;
    
}
nav pre {
    display: inline-block;
    position: absolute;
    top:30%
}

nav ul {
    display: inline;
    float: right;
    padding-right: 1%;
    padding-top: 10px;
}
nav ul li {
 color:rgb(96,96,96);
 list-style-type: none;
 display: inline;
 padding: 5px;

}
.github {
     background: url(img/001.png);
}
.linkedin {
     background: url(img/000.png);
}
.hackerrank {
     background: url(img/002.png);

}
.codewars {
     background: url(img/003.png);
}
.linkedin, .hackerrank,
.github, .codewars {
     width: 30px;
     height: 30px;
     background-position: center; 
     background-repeat: no-repeat; 
     background-size: cover; 
     display: inline-block;   
     }
 /*---------main content--------*/ 
main {
    width: 50%;
    padding-top: 5rem;
    margin: 0 auto;
}
main p {
    text-align: left;
    padding-bottom: 10px;
}

hr {
    margin: 10px;
}

/*---------footer----------------*/

footer pre {
    text-align: center;
    margin-bottom: 1em;
}

/*---------media queries----------*/
@media(max-width: 500px){
    main {
        width: 90%;
    }
    .linkedin, .hackerrank,
     .github, .codewars {
        width: 20px;
        height: 20px;
    }
    nav ul{
        padding-top: 14px;
    }
    nav ul li{
        padding: 2px;
    }
    .logo {
        font-size: 2em;
        padding-left: 0.25em;
        
    }
}